<div class="CajaUno animated bounceInDown">
	

	<form id="FormIngreso">

		<input type="text" ng-model="temperatura" placeholder="Ingrese Temparatura" id="Temperatura">

		<br>
		
	</form>
	
</div>
<div class="CajaUno animated bounceInLeft">
	
	
	<button  class="MiBotonUTN" ng-click="FahrenheitCentigrados()" >A- de Fahrenheit a Centígrados </button>
	<button  class="MiBotonUTN" ng-click="CentigradosFahrenheit()" >B- de Centígrados a Fahrenheit</button>
	

</div>

<div class="CajaEnunciado animated bounceInLeft">
	<h2>Enunciado:</h2>
	

		<h3>
			3.	Para el departamento de Pinturas:
				<br>A.	Al ingresar una temperatura en Fahrenheit debemos mostrar la temperatura en Centígrados con un mensaje concatenado (ej.: " 32 Fahrenheit son 0 centígrados").
				<br>B.	Al ingresar una temperatura en Centígrados debemos mostrar la temperatura en Fahrenheit (ej.: "0  centígrados son 32 Fahrenheit ").




		</h3>
	
</div>