<div class="CajaUno animated bounceInDown">
	

	<form id="FormIngreso">

		<input type="text" ng-model="largo" placeholder="Largo del terreno" id="Largo">
		<input type="text" ng-model="ancho" placeholder="Ancho del terreno" id="Ancho">
		<input type="text" ng-model="radio" placeholder="Radio del terreno" id="Radio">
		<br>
		
	</form>
	
</div>
<div class="CajaUno animated bounceInLeft">
	
	
	<button  class="MiBotonUTN" ng-click="Rectangulo()" >A- Rectangulo de alambre</button>
	<button  class="MiBotonUTN" ng-click="Circulo()" >B- Circulo de alambre</button>
	<button  class="MiBotonUTN" ng-click="Materiales()" >C- Materiales contrapiso</button>

</div>

<div class="CajaEnunciado animated bounceInLeft">
	<h2>Enunciado:</h2>
	

		<h3>
			2.	Para el departamento de Construcción:
				<br>A.	 Mostrar la cantidad de alambre a comprar  si se ingresara el largo y el ancho de un terreno rectangular y se debe alambra con tres hilos de alambre.
				<br>B.	Mostrar la cantidad de alambre a comprar  si se ingresara el radio  de un terreno circular y se debe alambra con tres hilos de alambre.
				<br>C.	Para hacer un contrapiso de 1m x 1m se necesitan 2 bolsas de cemento y 3 de cal, debemos mostrar cuantas bolsas se necesitan de cada uno para las medidas del terreno rectangular.



		</h3>
	
</div>